@import url(https://fonts.googleapis.com/css?family=Montaga);

body{

font-family: 'Montaga', serif;
}
ul.sdt_menu{

margin-top:-780px;
}

.silder{
    margin-top: 40px;
    overflow: hidden;
}
.silder ul {
    color: #000;
    display:flex;
    padding: 0;
    width: 300%;
    animation: cambio 20s infinite alternate;
    animation:
}
.silder li{
    width: 100%;
    list-style: none;
}
.silder img {
    width: 100%
}
@keyframes cambio{

    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left:-200%;}
    70%{margin-left:-200%;}

    75%{margin-left:-100%;}
    100%{margin-left:-100%;}
}


*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box ;
    box-sizing:border-box ;
}
.social{
    position: fixed;
    left:0px;
    top: 400px;
    z-index: 2000;
}
.social ul{
    list-style: none;
}
.social ul li a {
    display: inline-block;
    color: #fff;
    background: #FF7F50;
    padding:10px 15px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.social ul li .icon-facebook{background:#3b5998 ;}
.social ul li .icon-twitter{background:#00abf0 ;}
.social ul li .icon-gmail{background: #d95232;}
.social ul li .icon-pinterest{background:#ae181f ;}
.social ul li .icon-google{background:#666666 ;}

.social ul li a:hover{
    padding: 10px 30px;
    background: #E9967A;
}

.contotal{
    width: 100%;
    margin: 0;
    max-width:100% ;
}
