body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,2d2d2d+51,111111+60,1c1c1c+76,1c1c1c+91,161616+100 */
background: rgb(76,76,76); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(45,45,45,1) 51%, rgba(17,17,17,1) 60%, rgba(28,28,28,1) 76%, rgba(28,28,28,1) 91%, rgba(22,22,22,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(45,45,45,1) 51%,rgba(17,17,17,1) 60%,rgba(28,28,28,1) 76%,rgba(28,28,28,1) 91%,rgba(22,22,22,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(45,45,45,1) 51%,rgba(17,17,17,1) 60%,rgba(28,28,28,1) 76%,rgba(28,28,28,1) 91%,rgba(22,22,22,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#161616',GradientType=0 ); /* IE6-9 */

}

/*  CAPAS CONTENEDORAS  */

#izquierda  {
  width: 170px;
  float: left;
  }

.derecha {
  width: 750px;
  f
    loat: left;
  }

/*  ELEMENTOS DEL MENU LATERAL  */

#menu {
  padding:0;
  margin:0 auto;
  list-style-type:none;
  width:160px;
  height:312px;
  }
#menu li a {
  height:30px;
  width:160px;
  float:left;
  border-bottom:2px solid #fff;
  overflow: hidden;
  }
#menu li a img {
  border:0;
  }
#menu li a:hover {
  height:120px;
  }
#menu li img:hover {
  width:160px;
  }

/*  ELEMENTOS DEL MENU SUPERIOR */

#menu2 {
  padding:0;
  margin:0 auto;
  list-style-type:none;
  height:120px;
  width:354px;
  }
#menu2 li a {
  width:30px;
  height:120px;
  float:left;
  border-right:2px solid #fff;
  overflow: hidden;
  }
#menu2 li a img {
  border:0;
  }

#menu2 li a:hover {
  background:#eee;
  width:160px;
  }
#menu2 li img:hover {
  width:160px;
  }



#galeria, #galeria * {
    box-sizing:border-box,
-moz-box-sizing:border-box
}
#galeria {
border: 1px solid black;  /* Borde de la galería */
padding: 10px;
padding-bottom: 0;
background: grey;  /* Fondo de la galería */
margin:50px  /* Ancho de la galería */
}
#galeria_miniaturas {
display: table;
margin: 0 auto;
}
#imgGaleria {
float: inherit;
border: 1px solid #F2F2F2;  /* Borde de la imagen */
padding: 3px;
width: 600px; /* Ancho de la imagen */
height: 300px; /* Alto de la imagen */
margin-left: 200px;
margin-right: 200px;
border-radius: 20px;
border-color: 2px black rgba(255,255,255,0.12);
}
.miniatura {
width:  60px;  /* Ancho de las miniaturas */
height:  60px;  /* Alto de las miniaturas */
float: left;
cursor: pointer;
padding: 5px;
margin: 10px 5px;
}
.miniatura:hover {
opacity:.8;   /* Opacidad */
-moz-opacity:.8;
-khtml-opacity:.8;
filter:alpha(opacity=80);
}
.miniatura:active {
opacity:1;
-moz-opacity:1;
-khtml-opacity:1;
filter:alpha(opacity=80);
}

#imgGaleria:hover{
   opacity:.8;   /* Opacidad */
-moz-opacity:.8;
-khtml-opacity:.8;
filter:alpha(opacity=80);
}


.titulo{
    text-align: center;
    color: darkred;
}
.titulo p{
    width: 50%;
}

