*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 1500px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
background: rgb(125,126,125); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */


}

h1{
    text-align: center;
    color: #fff;
    margin-top: 20px;
}
main img{
    width: 35%;
    height: 10%;
    border-radius: 20px;
    margin-left: 100px;
    border: 10px;
    border-color: black;
}
.cont1 img{
    float: right;
    height: 20%;
    margin-right: 100px;
}
.cont3 img{
    float: right;
    height: 20%;
    margin-right: 100px;
}
.cont5 img{
    float: right;
    height: 20%;
    margin-right: 100px;
}
