body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+36,ededed+62,c1c1c1+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 36%, rgba(237,237,237,1) 62%, rgba(193,193,193,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 36%,rgba(237,237,237,1) 62%,rgba(193,193,193,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 36%,rgba(237,237,237,1) 62%,rgba(193,193,193,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c1c1c1',GradientType=0 ); /* IE6-9 */


}

/*  CAPAS CONTENEDORAS  */

#izquierda  {
  width: 170px;
  float: left;
  }

.derecha {
  width: 750px;
  f
    loat: left;
  }

/*  ELEMENTOS DEL MENU LATERAL  */

#menu {
  padding:0;;
  margin:0px auto;
  list-style-type:none;
  width:160px;
  height:312px;
  }
#menu li a {
  height:30px;
  width:160px;
  float:left;
  border-bottom:2px solid #fff;
  overflow: hidden;
  }
#menu li a img {
  border:0;
  }
#menu li a:hover {
  height:120px;
  }
#menu li img:hover {
  width:160px;
  }

/*  ELEMENTOS DEL MENU SUPERIOR */

#menu2 {
  padding:0;
  margin:0 auto;
  list-style-type:none;
  height:120px;
  width:354px;
  }
#menu2 li a {
  width:30px;
  height:120px;
  float:right;
  border-right:2px solid #fff;
  overflow: hidden;
  }
#menu2 li a img {
  border:0;
  }

#menu2 li a:hover {
  background:#eee;
  width:160px;
  }
#menu2 li img:hover {
  width:160px;
  }



#galeria, #galeria * {
    box-sizing:border-box,
-moz-box-sizing:border-box
}
#galeria {
border: 1px solid grey;  /* Borde de la galería */
padding: 10px;
padding-bottom: 0;
margin:50px  /* Ancho de la galería */
}
#galeria_miniaturas {
display: table;
margin: 0 auto;
}
#imgGaleria {
float: inherit;
border: 1px solid #F2F2F2;  /* Borde de la imagen */
padding: 3px;
width: 600px; /* Ancho de la imagen */
height: 300px; /* Alto de la imagen */
margin-left: 200px;
margin-right: 200px;
border-radius: 20px;
border-color: 2px black rgba(255,255,255,0.12);
}
.miniatura {
width:  100px;  /* Ancho de las miniaturas */
height:  100px;  /* Alto de las miniaturas */
float: left;
cursor: pointer;
margin: 10px 18px;
    border-radius: 50px;
}
.miniatura:hover {
opacity:.8;   /* Opacidad */
-moz-opacity:.8;
-khtml-opacity:.8;
filter:alpha(opacity=80);
}
.miniatura:active {
opacity:5;
-moz-opacity:1;
-khtml-opacity:1;
filter:alpha(opacity=80);
}

#imgGaleria:hover{
   opacity:.8;   /* Opacidad */
-moz-opacity:.8;
-khtml-opacity:.8;
filter:alpha(opacity=80);
text-align: none;

}


.titulo{
    text-align: center;
    color: darkred;
}
.titulo p{
    width: 50%;
}

