
*{
    margin: 0;
    padding: 0px;
}

.titulo{

    background: black;
    text-align: center;
}

.titulo p{
    color: blue;
    text-align: center;
    margin-left: 2opx;
}

.info{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+37,2b2b2b+100 */
background: rgb(125,126,125); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(125,126,125,1) 37%, rgba(43,43,43,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 37%,rgba(43,43,43,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(125,126,125,1) 37%,rgba(43,43,43,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-9 */

    height: 80px;
}

