
*{
    margin: 0;
    padding: 0px;
}

.titulo{

    background: black;
    text-align: center;
}

.titulo p{
    color: brown;
    text-align: center;
    margin-left: 40px;
}

.saenz img{
    width: 400px;
    height: 280px;
    float: right;
    margin: 20px;
    margin-right: 100px;
}
.Biblia{
    width: 400px;
    margin: 20px;
    margin-left: 100px;
    text-align: center inherit;
}
.chambi img{
    width: 400px;
    height: 280px;
    float: right;
    margin: 20px;
    margin-right: 100px;

}
.BasedeDatos{
   width: 400px;
    margin: 20px;
    margin-left: 100px;
    text-align: center inherit;
}


.cesar img{
<<<<<<< HEAD
    width: 450px;
=======
    width: 400px;
>>>>>>> origin/master
    height: 280px;
    float: right;
    margin: 20px;
    margin-right: 100px;

}

.cesar{
    height: 500px;
    width: 500px;
    float: right;
}
.ArqCom{
   width: 400px;
    margin: 20px;
    margin-left: 100px;
    text-align: center inherit;
}


.ticla img{
    width: 400px;
    float: right;
    margin: 20px;
    float: left;
    margin-right: 100px;
}
<<<<<<< HEAD
.Lp1 {
    width: 700px;
=======
.Lp1{
    width: 400px;
>>>>>>> origin/master
    margin: 20px;
    float: left;
    margin-left: 100px;
    text-align: center inherit;
}
