
*{
    margin: 0;
    padding: 0px;
}

.titulo{

    background: black;
    text-align: center;
}

.titulo p{
    color: brown;
    text-align: center;
    margin-left: 40px;
}

.saenz img{
    width: 500px;
    height: 300px;
    float: right;
    margin: 20px;
    margin-right: 100px;
}
.Biblia{
    width: 400px;
    margin: 20px;
    margin-left: 100px;
    text-align: center inherit;
}
.chambi img{
    width: 500px;
    height: 300px;
    float: right;
    margin: 20px;
    margin-right: 100px;

}
.BasedeDatos{
   width: 400px;
    margin: 20px;
    margin-left: 100px;
    text-align: center inherit;
}


.cesar img{

    width: 500px;
    height: 300px;
    float: right;
    margin: 20px;
    margin-right: 100px;

}


.ArqCom{
   width: 400px;
    margin: 20px;
    margin-left: 100px;
    text-align: center justify;
}


.ticla img{
    width: 500px;
    height: 300px;
    float: right;
    margin: 20px;
    margin-right: 100px;
}

.lp1 {
    width: 400px;
    margin: 20px;
    margin-left: 100px;
    text-align: center justify;
}

.evila img{
    width: 500px;
    height: 300px;
    float: right;
    margin: 20px;
    margin-right: 100px;
}

.ecologia {
    width: 400px;
    margin: 20px;
    margin-left: 100px;
    text-align: center justify;
}


.jessica img{
    width: 400px;
    height: 280px;
    float: right;
    margin: 20px;
    margin-right: 100px;
}

.calculo  {
    width: 400px;
    margin: 20px;
    margin-left: 100px;
    text-align: center justify;
}


.vigo img{
    width: 500px;
    height: 300px;
    float: right;
    margin: 20px;
    margin-right: 100px;
}

.fis  {
    width: 400px;
    margin: 20px;
    margin-left: 100px;
    text-align: center justify;
}
