*{
    margin: 20px;
    padding: 0px;
    background: #d8ecf3;
}

h1 {
    text-align: center;
}

.evento{
    margin: 40px auto;
    width: 1500px;
    height: 2920px;
    background: #2f84d9;
}
.barra_inicio{
    margin: 40px auto;
    width: 960x;
    height: 50px;
    background: #2f549a;
}

.textoizquierda{
    margin: 20px;
    margin-right: 60px;
    width: 560px;
    height: 500px;
    float: right;
    font-size: 2.3em;
    background: #2f84d9;
}
header{
    margin: 60px;
    width: 770px;
    height: 500px;
    background-color: red;
}
.plano{
    margin: 0px;
    width: 770px;
    height: 500px;
}
img.icon{
    margin: 0px;
    width: 770px;
    height: 500px;
}
.textoizquierda2{
    margin: 0px;
    margin-right: 60px;
    width: 560px;
    height: 500px;
    float: right;
    font-size: 2.3em;
    background: #2f84d9;
}
.textoizquierda3{
    margin: 0px;
    margin-right: 60px;
    width: 560px;
    height: 500px;
    float: right;
    font-size: 2.3em;
    background: #2f84d9;
}
.textoizquierda4{
    margin: 0px;
    margin-right: 60px;
    width: 560px;
    height: 500px;
    float: right;
    font-size: 2.3em;
    background: #2f84d9;
}
.textoizquierda5{
    margin: 0px;
    margin-right: 60px;
    width: 560px;
    height: 500px;
    float: right;
    font-size: 2.3em;
    background: #2f84d9;
}
