*{
    margin: 20px;
    padding: 0px;
    background: #d8ecf3;
}

h1 {
    text-align: center;
}

.evento{
    margin: 40px auto;
    width: 960px;
    height: 1000px;
    background: #2f84d9;
}
.barra_inicio{
    margin: 40px auto;
    width: 960x;
    height: 50px;
    background: #2f549a;
}

.textoizquierda{
    margin: 20px;
    width: 400px;
    height: 500px;
    float: right;
    background: #2f84d9;
}
